* {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
}

.container {
    display: grid;
    grid-template: 
        "a1   b1    c1    d1    e1    f1    g1    h1   i1   j1   k1   l1   m1"  72px
        "a2   b2    c2    d2    e2    f2    g2    h2   i2   j2   k2   l2   m2"  72px
        "a3   b3    c3    d3    e3    f3    g3    h3   i3   j3   k3   l3   m3"  72px
        "a4   b4    c4    d4    e4    f4    g4    h4   i4   j4   k4   l4   m4"  72px
        "a5   b5    c5    d5    e5    f5    g5    h5   i5   j5   k5   l5   m5"  72px
        "a6   b6    c6    d6    e6    f6    g6    h6   i6   j6   k6   l6   m6"  72px
        "a7   b7    c7    d7    e7    f7    g7    h7   i7   j7   k7   l7   m7"  72px
        "a8   b8    c8    d8    e8    f8    g8    h8   i8   j8   k8   l8   m8"  72px
        "a9   b9    c9    d9    e9    f9    g9    h9   i9   j9   k9   l9   m9"  72px
        "a10  b10   c10   d10   e10   f10   g10   h10  i10  j10  k10  l10  m10" 72px
        "a11  b11   c11   d11   e11   f11   g11   h11  i11  j11  k11  l11  m11" 72px
        "a12  b12   c12   d12   e12   f12   g12   h12  i12  j12  k12  l12  m12" 72px
        "a13  b13   c13   d13   e13   f13   g13   h13  i13  j13  k13  l13  m13" 72px
    /   72px  72px  72px  72px  72px  72px  72px  72px  72px  72px  72px  72px  72px;
}

#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}

#a3 {
    grid-area: a3;
}

#a4 {
    grid-area: a4;
}

#a5 {
    grid-area: a5;
}

#a6 {
    grid-area: a6;
}

#a7 {
    grid-area: a7;
}

#a8 {
    grid-area: a8;
}

#a9 {
    grid-area: a9;
}

#a10 {
    grid-area: a10;
}

#a11 {
    grid-area: a11;
}

#a12 {
    grid-area: a12;
}

#a13 {
    grid-area: a13;
}

#b1 {
    grid-area: b1;
}

#b2 {
    grid-area: b2;
}

#b3 {
    grid-area: b3;
}

#b4 {
    grid-area: b4;
}

#b5 {
    grid-area: b5;
}

#b6 {
    grid-area: b6;
}

#b7 {
    grid-area: b7;
}

#b8 {
    grid-area: b8;
}

#b9 {
    grid-area: b9;
}

#b10 {
    grid-area: b10;
}

#b11 {
    grid-area: b11;
}

#b12 {
    grid-area: b12;
}

#b13 {
    grid-area: b13;
}

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

#c7 {
    grid-area: c7;
}

#c8 {
    grid-area: c8;
}

#c9 {
    grid-area: c9;
}

#c10 {
    grid-area: c10;
}

#c11 {
    grid-area: c11;
}

#c12 {
    grid-area: c12;
}

#c13 {
    grid-area: c13;
}

#d1 {
    grid-area: d1;
}

#d2 {
    grid-area: d2;
}

#d3 {
    grid-area: d3;
}

#d4 {
    grid-area: d4;
}

#d5 {
    grid-area: d5;
}

#d6 {
    grid-area: d6;
}

#d7 {
    grid-area: d7;
}

#d8 {
    grid-area: d8;
}

#d9 {
    grid-area: d9;
}

#d10 {
    grid-area: d10;
}

#d11 {
    grid-area: d11;
}

#d12 {
    grid-area: d12;
}

#d13 {
    grid-area: d13;
}

#e1 {
    grid-area: e1;
}

#e2 {
    grid-area: e2;
}

#e3 {
    grid-area: e3;
}

#e4 {
    grid-area: e4;
}

#e5 {
    grid-area: e5;
    display: none;
}

#e6 {
    grid-area: e6;
    display: none;
}

#e7 {
    grid-area: e7;
    display: none;
}

#e8 {
    grid-area: e8;
    display: none;
}

#e9 {
    grid-area: e9;
    display: none;
}

#e10 {
    grid-area: e10;
}

#e11 {
    grid-area: e11;
}

#e12 {
    grid-area: e12;
}

#e13 {
    grid-area: e13;
}

#f1 {
    grid-area: f1;
}

#f2 {
    grid-area: f2;
}

#f3 {
    grid-area: f3;
}

#f4 {
    grid-area: f4;
}

#f5 {
    grid-area: f5;
    display: none;
}

#f6 {
    grid-area: f6;
    display: none;
}

#f7 {
    grid-area: f7;
    display: none;
}

#f8 {
    grid-area: f8;
    display: none;
}

#f9 {
    grid-area: f9;
    display: none;
}

#f10 {
    grid-area: f10;
}

#f11 {
    grid-area: f11;
}

#f12 {
    grid-area: f12;
}

#f13 {
    grid-area: f13;
}

#g1 {
    grid-area: g1;
}

#g2 {
    grid-area: g2;
}

#g3 {
    grid-area: g3;
}

#g4 {
    grid-area: g4;
}

#g5 {
    grid-area: g5;
    display: none;
}

#g6 {
    grid-area: g6;
    display: none;
}

#g7 {
    grid-area: g7;
}

#g8 {
    grid-area: g8;
    display: none;
}

#g9 {
    grid-area: g9;
    display: none;
}

#g10 {
    grid-area: g10;
}

#g11 {
    grid-area: g11;
}

#g12 {
    grid-area: g12;
}

#g13 {
    grid-area: g13;
}

#h1 {
    grid-area: h1;
}

#h2 {
    grid-area: h2;
}

#h3 {
    grid-area: h3;
}

#h4 {
    grid-area: h4;
}

#h5 {
    grid-area: h5;
    display: none;
}

#h6 {
    grid-area: h6;
    display: none;
}

#h7 {
    grid-area: h7;
    display: none;
}

#h8 {
    grid-area: h8;
    display: none;
}

#h9 {
    grid-area: h9;
    display: none;
}

#h10 {
    grid-area: h10;
}

#h11 {
    grid-area: h11;
}

#h12 {
    grid-area: h12;
}

#h13 {
    grid-area: h13;
}

#i1 {
    grid-area: i1;
}

#i2 {
    grid-area: i2;
}

#i3 {
    grid-area: i3;
}

#i4 {
    grid-area: i4;
}

#i5 {
    grid-area: i5;
    display: none;
}

#i6 {
    grid-area: i6;
    display: none;
}

#i7 {
    grid-area: i7;
    display: none;
}

#i8 {
    grid-area: i8;
    display: none;
}

#i9 {
    grid-area: i9;
    display: none;
}

#i10 {
    grid-area: i10;
}

#i11 {
    grid-area: i11;
}

#i12 {
    grid-area: i12;
}

#i13 {
    grid-area: i13;
}

#j1 {
    grid-area: j1;
}

#j2 {
    grid-area: j2;
}

#j3 {
    grid-area: j3;
}

#j4 {
    grid-area: j4;
}

#j5 {
    grid-area: j5;
}

#j6 {
    grid-area: j6;
}

#j7 {
    grid-area: j7;
}

#j8 {
    grid-area: j8;
}

#j9 {
    grid-area: j9;
}

#j10 {
    grid-area: j10;
}

#j11 {
    grid-area: j11;
}

#j12 {
    grid-area: j12;
}

#j13 {
    grid-area: j13;
}

#k1 {
    grid-area: k1;
}

#k2 {
    grid-area: k2;
}

#k3 {
    grid-area: k3;
}

#k4 {
    grid-area: k4;
}

#k5 {
    grid-area: k5;
}

#k6 {
    grid-area: k6;
}

#k7 {
    grid-area: k7;
}

#k8 {
    grid-area: k8;
}

#k9 {
    grid-area: k9;
}

#k10 {
    grid-area: k10;
}

#k11 {
    grid-area: k11;
}

#k12 {
    grid-area: k12;
}

#k13 {
    grid-area: k13;
}

#l1 {
    grid-area: l1;
}

#l2 {
    grid-area: l2;
}

#l3 {
    grid-area: l3;
}

#l4 {
    grid-area: l4;
}

#l5 {
    grid-area: l5;
}

#l6 {
    grid-area: l6;
}

#l7 {
    grid-area: l7;
}

#l8 {
    grid-area: l8;
}

#l9 {
    grid-area: l9;
}

#l10 {
    grid-area: l10;
}

#l11 {
    grid-area: l11;
}

#l12 {
    grid-area: l12;
}

#l13 {
    grid-area: l13;
}

#m1 {
    grid-area: m1;
}

#m2 {
    grid-area: m2;
}

#m3 {
    grid-area: m3;
}

#m4 {
    grid-area: m4;
}

#m5 {
    grid-area: m5;
}

#m6 {
    grid-area: m6;
}

#m7 {
    grid-area: m7;
}

#m8 {
    grid-area: m8;
}

#m9 {
    grid-area: m9;
}

#m10 {
    grid-area: m10;
}

#m11 {
    grid-area: m11;
}

#m12 {
    grid-area: m12;
}

#m13 {
    grid-area: m13;
}